{% load static %}
<!-- start footer -->
<footer>
    <ul>
        <h5>Quick links:</h5>
        <li><a href="{% url 'about_page' %}">About us</a></li>
        <li><a href="{% url 'contact_page' %}">Contact us</a></li>
        <li><a href="{% url 'privacy_page' %}">Privacy and policy</a></li>
    </ul>
    <ul>
        <h5>IMT in social:</h5>
        <li><a href="">Facebook</a></li>
        <li><a href="">Twitter</a></li>
        <li><a href="">Instagram</a></li>
    </ul>
    <ul>
        <h5>Get in touch:</h5>
        <li><i class="material-icons"> phone </i> +34 616 277 763</li>
        <li><i class="material-icons"> phone </i> +212 645 560 402</li>
        <li><i class="material-icons"> location_on </i> Barcelona 24 Passeig del Born</li>
    </ul>
</footer>
<div class="copy-right">All rights reserved 2019 inmytours</div>
<!-- end footer -->
  

<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<script src="{% static 'js/main.js' %}"></script>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">