 <!-- start menu -->
  <nav>
    <div class="nav-wrapper lighten-2">
      <a href="#!" class="brand-logo">Logo</a>
      <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down">
        <li><a href="index.html">Home</a></li>
        <li><a href="index.html">Discover tours</a></li>
        <li><a href="index.html">About us</a></li>
        <li><a href="index.html">Contact us</a></li>
      </ul>
    </div>
  </nav>

  <ul class="sidenav" id="mobile-demo">
    <li><a href="index.html">Home</a></li>
    <li><a href="index.html">Discover tours</a></li>
    <li><a href="index.html">About us</a></li>
    <li><a href="index.html">Contact us</a></li>
  </ul>
  <!-- end menu -->

  <!-- start header -->
  <header>
    <div class="overlay"></div>
    <div class="text">
        <h1>In My Tours</h1>
        <h3>Discover a new World</h3>
    </div>
    <form action="">
      <input type="text" placeholder=" Search for a tour..."/>
    </form>
  </header>
  <!-- end header -->