{% extends 'base.html' %}

{% load static %}
{% load extra_tags %}

{% block title %}
    In My Tours
{% endblock title %}

{% block content %}

<!-- start header -->
  <header>
    <div class="overlay"></div>
    <div class="text">
        <h1>In My Tours</h1>
        <h3>Discover a new World</h3>
    </div>
    <form action="">
      <input type="text" placeholder=" Search for a tour..."/>
    </form>
  </header>
<!-- end header -->

<div class="container">
  <!-- start destinations -->
  <section class="destinations">
    
    {% for destination in destinations %}
      <article class="destination">
        <a href="{% url 'tour_list' %}?destination={{destination.name}}">
          <img src="{{destination.image.url}}" alt="{{ destination.name }}">
          <p><b>{{destination.name}}</b></p>
        </a>
      </article>
    {% endfor %}

  </section>
  <!-- end destinations -->

  <!-- start Feautured tours -->
  <section class="feautured">
    <h4>Feautured tours</h4>
    {% include 'snippets/tours/tours_list.html' with tours=tours %}
  </section>
  <!-- end Feautured tours -->

  <!-- start support box -->
  <section class="support">
    <article class="support-box row">
      <span>24/7 support</span>
      <img src="{% static 'img/support-man.png' %}" alt="">
      <span>Our customer service team is available 24/7 via email, phone and WhatsApp.</span>
      <img src="{% static 'img/support-woman.png' %}" alt="">
    </article>
  </section>
  <!-- end support box -->
</div>

{% endblock content %}